#pageUser{
    width: 100%;
    padding: 0 6px;
}
.filter-pagination select {
    width: 60px;
    display: inline;
    background: #F3F3F3;
    border: 1px !important;
    margin: 0px 8px;
    color: #4E5D78;
    padding: 10px 8px;
    border-radius: 4px;
}
.modal-body{
    padding: 20px 0 !important;
}
.group-btn2{
    border: none !important;
}
.comments{
    margin-top: 5%;
    margin-left: 20px;
}

.darker{
    border: 1px solid #ced4da;
    float: right;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    position:relative;
}

.comment{
    border: 1px solid #ced4da;
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;

}
.comment h6,.comment span,.darker h6,.darker span{
    display: inline;
}

/*.comment p,.comment span,.darker p,.darker span{*/
/*    color: rgb(184, 183, 183);*/
/*}*/

.darker textarea:focus-visible{
    outline: unset !important;
}
.edit-feedback{
    position:absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
}

.main-sidebar {
    height: 100vh !important;
}
body{
    overflow-x: hidden;
}
.timeline-footer{
    margin-left: 10px;
    font-style: italic;
}
