.custom-input-control{
    height: 32px!important;
}
.dataTables_info, .dataTables_paginate {
    display: none;
}
.filter-pagination {
    color: #B0B7C3;
    font-size: 12px;
}
 .pagination .next.active {
    background: #237bd3;
    color: white;
 }
 .filter-pagination {
    color: #B0B7C3;
    font-size: 12px;
 }
 .filter-pagination select{
    width: 60px;
    display: inline;
    background: #F3F3F3;
    border: none!important;
    margin: 0px 8px;
    color: #4E5D78;
    padding: 10px 8px;
    border-radius: 4px;
}
.pagination .prev,.pagination .next{
    background: #F3F3F3;
    border-radius: 6px;
    padding: 1px 10px 4px!important;
    font-size: 20px!important;
    line-height: 27px!important;
    margin: 0px 4px;
}
.modal {
    overflow: auto;
}
.del-img{
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
}
body {
    overflow-x: hidden;
    font-size: 14px;
    font-family: "Roboto", Arial;
    background-color: #f1f1f1;
    color: #333
}
.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
    background-color: #51baf4!important;
    color: #fff!important;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th {
    border-top: 1px solid #e8e8e8
}
.table thead th {
    border-bottom: 1px solid #ddd !important;
    border-top: 0;
    font-weight: 700
}
.table.no-border > tbody > tr > td, .table.no-border > thead > tr > th {
    border: 0 none !important
}

.table-bordered {
    border: 1px solid #e8e8e8
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .04)
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, .05)
}

.table tr.success > td {
    background-color: #e0f7ea !important
}

.table tr.info > td {
    background-color: #def4fb !important
}

.table tr.warning > td {
    background-color: #fdf0db !important
}
.table tr.danger > td {
    background-color: #fbe4e2 !important
}
.draggable-mirror {
    background-color: white;
    width: 82%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgb(0, 0, 0, 0.05);
}
.main-footer {
    z-index: 0;
}
.pagination .prev.active {
    background: #237bd3;
    color: white;
}
.pagination  li{
    line-height: 35px;
}
.btn {
    padding: 4px 11px;
    font-size: 13px;
    border-radius: 0px;
}
.form-control {
    font-size: 12px;
    height: 34px;
    border-radius: 0px;
}
.nav-item .fa-angle-right{
    padding-right: 5px;
}
.nav-sidebar .nav-icon{
    font-size: 15px!important;
}
td .btn,td  .btn-sm {
    padding: 0px 2px;
}
.table  td {
    padding: 5px 10px;
}
.table th{
    padding: 8px;
}
.card {
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%) !important;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    border-radius: unset;
}
.main-sidebar {
    height: 100%!important;
    position: fixed!important;
    top: 0;
}
.sidebar{
    overflow-y: scroll!important;
}
.pagination.mt-3 {
    margin-top: 0px!important;
}
.pagination  li a{
    padding: 3px 9px!important;
}
.disable{
    margin-right: 14px;
}
.btn-primary {
    background-color: #237bd3;
    border-color: #237bd3;
}
a {
    color: #237bd3;
}
.modal-content .form-group strong{
    font-weight: 400;
    font-size: 12px;
    padding-top: 5px;
}
.w-120{
    width: 120px;
}
.w-60{
    width: 40px;
}

.toggle {
    display: inline-block;
    position: relative;
    padding: 0px;
}

.toggle .toggle-checkbox {
    display: none;
}

.toggle .toggle-checkbox:checked~.toggle-label {
    background-color: #17a2b8 !important;
    color: #ffffff;
    border: 1px solid #17a2b8;
}

.toggle .toggle-label {
    margin: 0px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border: 1px solid #dee2e6;
    transition: all 0.3s;
    border-radius: 0.25rem;
}

.toggle .toggle-chevron {
    transition: transform 0.3s;
    cursor: pointer;
}

.toggle .toggle-checkbox:checked~.toggle-label .toggle-chevron {
    transform: rotate(90deg);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/*notification*/
.dropdown-menu.notification {
    max-height: 500px!important;
    max-width: 400px!important;
    width: 400px!important;
    background: #fff;
    padding: 16px 18px 12px 20px;
  }
  .dropdown-menu.notification.scroll{
    overflow-y: scroll!important;
  }
  .list-notifi{
    padding:0px;
  }
  .list-notifi li{
    list-style: none;
    padding: 10px 15px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .list-notifi h6{
    padding-bottom: 3px;
  }
  .list-notifi li:hover{
    background: #f3f6f9; 
  }
  .list-notifi li.active{
      background: #f3f6f9;
  }
  .list-notifi li p{
    margin-bottom: 0px;
  }
  .right-notifi{
    width: 43%;
    text-align: right;
    position: relative;
    font-size: 13px;
  }
   .notification::-webkit-scrollbar ,.group-permissions::-webkit-scrollbar{
    width: 6px;
    background-color: #fff;
  }
 .notification::-webkit-scrollbar-thumb,.group-permissions::-webkit-scrollbar-thumb {
    background-color: #d6d1d1;
    border-radius: 7px;
  }
   .notification::-webkit-scrollbar-track ,.group-permissions::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  .status-notifi{
    background: #EB2D4B;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0px;
    border-radius: 50%;
  }
  .content-notifi h6{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0px!important;
  }
  .content-notifi i{
    padding-right: 10px;
    margin-top: 4px;
  }
  .group-permissions{
    height: 400px;
    overflow-y: scroll;
  }
  .upload-container{
      margin-bottom: 0px!important;
  }
  .file-upload{
    position: absolute;
    width: 44px;
    right: -9px;
    top:-29px;
    height: 39px;
  }
  .text-muted{
    font-size: 12px;
  }
  .comments .d-flex.border{
    padding-right: 37px;
  }
 .upload-container{
     position: relative;
 }
 .col-md-11 .file-upload {
    top: -30px;
}
.comments .btn {
    padding: 4px 3px;
}

